/**/
/* Blog Styles - Hypermarket Theme*/
/* --------------------------------------------------*/

/* Post Meta*/
.blog-post-meta {
  display: table;
  width: 100%;
  color: $blog-post-meta-color;
  font-size: $blog-post-meta-font-size;
  @include padding(null null floor($line-height-computed / 1.3) null);
  .column {
    display: table-cell;
    vertical-align: top;
    @include margin(null 15px null null);
    &:last-child {
      text-align: right;
      white-space: nowrap;
      @include margin(null 0 null null);
      & i {
        border: none;
        @include square(auto);
        @include padding(0);
      }
    }
  }
  a:not(.read-more) {
    color: $blog-post-meta-color;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      color: $text-color;
      text-decoration: none;
    }
  }
  i {
    display: inline-block;
    vertical-align: middle;
    @include margin(-2px null null null);
  }
  .divider {
    display: inline-block;
    vertical-align: middle;
    background-color: rgba($blog-post-meta-color, .5);
    @include size(1px, 11px);
    @include margin(0 8px);
  }
}
.bs3-grid-builder-container {
  + .blog-post-meta {
    margin-top: 0 !important;
  }
}

/* Post title*/
.blog-post-title,
.blog-post-title > a {
  color: $text-color;
  font-size: $blog-post-title;
  font-weight: normal;
  text-decoration: none;
  &:hover {
    color: $gray;
    text-decoration: none;
  }
}

/* Sticky post*/
small.sticky-badge {
  color: $gray;
  font-size: floor(($font-size-base * 0.75)) - 1;
}

/* Single post*/
.single-post {
  article {
    label {
      font-size: $font-size-base;
      input[type="password"] { 
        @extend .form-control; 
        @include margin(10px null null null); 
      }
    }
    label + input[type="submit"] {
      @extend .btn;
      @extend .btn-primary;
      @include margin(0);
    }
    .bs3-grid-builder-container {
      + .col-sm-12 {
        > hr { @include margin(0 null null null); }
      }
    }
  }
}

/* Author posts*/
.author-posts {
  list-style-type: square;
}
/* Comments*/
.comment-respond .tile form h3 {
  @include margin(null null $line-height-computed null);
}
.comment {
  display: table;
  width: 100%;
  border-top: 1px solid $hr-border;
  @include padding(floor($line-height-computed * 1.4) 0);
  &:first-child { border-top: none; }
  &.bypostauthor { padding: floor($line-height-computed * 1.5) floor($line-height-computed / 2) !important; }
  &.bypostauthor:last-child { @include margin(null null $line-height-computed null); }
  .comment-author-ava {
    display: table-cell;
    vertical-align: top;
  }
  .comment-body {
    display: block;
    vertical-align: top;
  }
  .comment-author-ava {
    width: $review-author-ava-size;
    padding: 0 18px 18px 0;
    > img { min-width: 80px; border-radius: 50%; }
  }
  p {
    font-size: $review-body-font-size;
    @include margin(null null 0 null);
  }
  .comment-meta {
    display: table;
    width: 100%;
    @include margin(null null 12px null);
    .column {
      display: table-cell;
      vertical-align: top;
      width: 50%;
      p.meta {
        > strong {
          font-size: $font-size-small;
          color: $quote-author-font-color;
          font-weight: normal;
          font-style: normal;
          @include margin(floor($line-height-computed / 2.5) null null null);
          &:before {
            display: inline-block;
            vertical-align: middle;
            content: "";
            background-color: $quote-author-font-color;
            @include size(20px, 1px);
            @include margin(null 9px null null);
          }
        }
      }
      &:last-child { text-align: right; }
      .star-rating {
        float: right;
        @include position(relative, 0 0 null null);
      }
    }
    .comment-title {
      font-size: $font-size-base;
      font-weight: 500;
      @include margin(null null 3px null);
    }
    .comment-reply {
      display: inline-block;
    }
  }
  & .children {
      @include padding(0);
    & .bypostauthor {
      @include margin($line-height-computed auto);
    }
  }
  @media screen and (max-width: 630px) {
    .comment-meta {
      .column {
        display: block;
        width: 100%;
        &:last-child { text-align: left; }
      }
      .comment-title { margin-bottom: 8px; }
    }
  }
  @media screen and (max-width: 500px) {
    .comment-author-ava,
    .comment-body { display: block; }
    .comment-body { width: 100%; }
  }
}
#comments {
  ol.comment-list {
    @include padding(0);
    @include margin(0);
  }
  .comment-form-cookies-consent label[for="wp-comment-cookies-consent"] {
    display: inline-block;
  }
}