//
// Components - Hypermarket Theme
// --------------------------------------------------

// Full Width Section
// -------------------------
.fw-section	{
	z-index: 1;
	display: block;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  @include position(relative, null null null null);

	.container,
	.container-fluid {
		z-index: 5;
    @include position(relative, null null null null);
	}

  &.no-cover { background-size: auto; }

  // Full Height
  &.full-height {
    min-height: 95vh;
  }
  &.full-width {
    width: 100vw;
    @include margin(null null null -50vw);
    @include position(relative, null null null 50%);
  }

	// Overlay
	.overlay {
    display: block;
		z-index: 2;
    @include square(100%);
    @include position(absolute, 0 null null 0);
	}

  // Gray Background
  &.bg-gray { background-color: $gray-lighter; }
}


// Category Link
// -------------------------
.category-link {
  display: table;
  color: $category-link-color;
  font-size: $category-link-font-size;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  @include padding(0 15px);
  @include margin(0 auto 30px auto);

  > img {
    display: block;
    width: 100%;
    max-width: $category-link-img-max-width;
    @include opacity(1);
    @include backface-visibility(hidden);
    @include transform(scale(1));
    @include transition(all .4s);
    @include margin(null null floor($line-height-computed / 2) null);
  }

  &:hover {
    color: $category-link-hover-color;
    > img {
      @include opacity(.5);
      @include transform(scale(1.05));
    }
  }
  &:focus,
  &:active {
    color: $category-link-color;
    text-decoration: none;
  }
}


// Category Tile
// -------------------------
.category-tile {
  display: block;
  min-height: 250px;
  background-color: $category-tile-bg;
  text-decoration: none;
  @include margin(null null 30px null);
  > .inner {
    display: table;
    width: 100%;
    @include padding(floor($line-height-computed * 2));
    > .column {
      display: table-cell;
      width: 50%;
      &:first-child {
        @include padding(null $line-height-computed null null);
      }
      &:last-child {
        vertical-align: middle;
        text-align: center;
      }
    }
  }
  .category-thumb {
    display: inline-block;
    width: 100%;
    max-width: $category-tile-thumb-max-width;
    @include opacity(1);
    @include backface-visibility(hidden);
    @include transform(scale(1));
    @include transition(all .4s);
    > img {
      display: block;
      width: 100%;
    }
  }
  &:hover,
  &:focus { text-decoration: none; }
  &:hover {
    .category-thumb {
      @include transform(scale(1.05));
    }
  }

  @media screen and(max-width: 570px) {
    > .inner > .column {
      display: block;
      width: 100%;
      text-align: center;
      &:first-child { padding-right: 0; }
    }
  }
}

// Info Box
// -------------------------
.info-box {
  width: 100%;
  background-color: $gray-lighter;
  @include padding(40px 25px);
}

// Quotation
// -------------------------
.quotation {
  display: table;
  width: 100%;
  .quotation-author,
  blockquote {
    display: table-cell;
    vertical-align: top;
  }
  .quotation-author { padding-right: 24px; }
  .quotation-author-ava {
    width: $quotation-author-ava-size;
    > img {
      display: block;
      width: 100%;
      border-radius: 50%;
    }
  }
}