//
// Components - Hypermarket Theme
// --------------------------------------------------

// Hero Slider
// -------------------------
.hero-slider {
  width: 100%;
  overflow: hidden;
  .from-top-13 {top: 13%;}
  .from-bottom-right {bottom: 13%; right: 15px;}
  .slide {
    display: block;
    width: 100%;
    height: 790px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    > .container {
      position: relative;
      display: table;
      width: 100% !important;
      max-width: 1170px !important;
      height: 100%;
    }
    h1, h2, h3, h4, h5, h6, p,
    .h1, .h2, .h3, .h4, .h5, .h6 {
      display: block;
      margin-bottom: 0;
    }
  }
  .owl-carousel .owl-controls .owl-nav {
    .owl-prev, .owl-next {
      width: ($carousel-navs-size * 2);
      height: ($carousel-navs-size * 2);
      line-height: ($carousel-navs-size * 2);
      font-size: $carousel-navs-icon-size + 6;
      @include transition(all .4s);
      &:before { line-height: ($carousel-navs-size * 2); }
    }
    .owl-prev {
      left: -(($carousel-navs-size * 2) + 40);
    }
    .owl-next {
      right: -(($carousel-navs-size * 2) + 40);
    }
  }
  &:hover {
    .owl-carousel .owl-controls .owl-nav {
      .owl-prev { left: 30px; }
      .owl-next { right: 30px; }
    }
  }
  .slider-layer { position: absolute; }
  .owl-item {
    .from-top, .from-bottom,
    .from-left, .from-right,
    .scale-up, .scale-down {
      opacity: 0;
      @include transition(all .5s .3s ease-in-out);
      @include backface-visibility(hidden);
    }
    .from-top { @include transform(translateY(-45px)); }
    .from-bottom { @include transform(translateY(45px)); }
    .from-left { @include transform(translateX(-45px)); }
    .from-right { @include transform(translateX(45px)); }
    .scale-up { @include transform(scale(0.8)); }
    .scale-down { @include transform(scale(1.2)); }
    .delay-1 { @include transition-delay(.5s); }
    .delay-2 { @include transition-delay(.7s); }
    .delay-3 { @include transition-delay(.9s); }
    .delay-4 { @include transition-delay(1.1s); }
    &.active {
      .from-top, .from-bottom {
        opacity: 1;
        @include transform(translateY(0));
      }
      .from-left, .from-right {
        opacity: 1;
        @include transform(translateX(0));
      }
      .scale-up, .scale-down {
        opacity: 1;
        @include transform(scale(1));
      }
    }
  }
  @media #{$tablet-port} {
    .slide { height: 510px; }
    .owl-carousel .owl-controls .owl-nav { display: none !important; }
  }
}
// Full Width Section
// -------------------------
.fw-section	{
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.container,
	.container-fluid {
		position: relative;
		z-index: 5;
	}

	// Overlay
	.overlay {
    display: block;
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

  // Gray Background
  &.bg-gray { background-color: $gray-lighter; }
}


// Category Link
// -------------------------
.category-link {
  display: table;
  padding: 0 15px;
  margin: 0 auto 30px auto;
  color: $category-link-color;
  font-size: $category-link-font-size;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  > img {
    display: block;
    width: 100%;
    max-width: $category-link-img-max-width;
    margin-bottom: floor($line-height-computed / 2); // ~12px
    @include opacity(1);
    @include backface-visibility(hidden);
    @include transform(scale(1));
    @include transition(all .4s);
  }

  &:hover {
    color: $category-link-hover-color;
    > img {
      @include opacity(.5);
      @include transform(scale(1.05));
    }
  }
  &:focus,
  &:active {
    color: $category-link-color;
    text-decoration: none;
  }
}


// Category Tile
// -------------------------
.category-tile {
  display: block;
  min-height: 250px;
  background-color: $category-tile-bg;
  text-decoration: none;
  margin-bottom: 30px;
  > .inner {
    display: table;
    width: 100%;
    padding: floor($line-height-computed * 2);
    > .column {
      display: table-cell;
      width: 50%;
      &:first-child {
        padding-right: $line-height-computed;
      }
      &:last-child {
        vertical-align: middle;
        text-align: center;
      }
    }
  }
  .category-thumb {
    display: inline-block;
    width: 100%;
    max-width: $category-tile-thumb-max-width;
    @include opacity(1);
    @include backface-visibility(hidden);
    @include transform(scale(1));
    @include transition(all .4s);
    > img {
      display: block;
      width: 100%;
    }
  }
  &:hover,
  &:focus { text-decoration: none; }
  &:hover {
    .category-thumb {
      @include transform(scale(1.05));
    }
  }

  @media screen and(max-width: 570px) {
    > .inner > .column {
      display: block;
      width: 100%;
      text-align: center;
      &:first-child { padding-right: 0; }
    }
  }
}

// Info Box
// -------------------------
.info-box {
  width: 100%;
  padding: 40px 25px;
  background-color: $gray-lighter;
}

// Quotation
// -------------------------
.quotation {
  display: table;
  width: 100%;
  .quotation-author,
  blockquote {
    display: table-cell;
    vertical-align: top;
  }
  .quotation-author { padding-right: 24px; }
  .quotation-author-ava {
    width: $quotation-author-ava-size;
    > img {
      display: block;
      width: 100%;
      border-radius: 50%;
    }
  }
}