//
// Preloader - Hypermarket Theme
// --------------------------------------------------
.page-preloader {
  @include background($preloader-screen-bg);
  @include size(100%, 100%);
  @include transition(all .5s);
  @include position(fixed, 0 null null 0);
  z-index: 9999;
}
.page-preloading {
  .page-wrapper {
    @include opacity(0);
    @include transition(all .5s .3s);
  }
  .page-preloader {
    visibility: visible;
    @include opacity(1);
  }
  &.loading-done {
    .page-wrapper { @include opacity(1); }
    .page-preloader {
      visibility: hidden;
      @include opacity(0);
    }
    &.link-clicked {
      .page-wrapper {
        @include opacity(0);
      }
    }
  }
}
.preloader {
  display: block;
  width: $preloader-size;
  margin: {
    top: -(floor($preloader-size / 2));
    left: -(floor($preloader-size / 2));
  }
  @include position(absolute, 50% null null 50%);
}