//
// Scaffolding - Hypermarket Theme
// --------------------------------------------------


// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

// Body reset
html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
@-ms-viewport { width: device-width; }

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $text-weight;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Links
a {
  color: $link-color;
  text-decoration: underline;
  @include transition(color .3s);

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
  &:focus {
    color: $link-hover-color;
    outline: none;
  }
}
a.link-title {
  color: $text-color;
  text-decoration: none;
  &:hover { color: $gray; }
}

// Images
// Responsive images (ensure images don't scale beyond their parents)
img {
  vertical-align: middle;
  @include img-responsive;
}
svg { max-width: 100%; }

// Rounded corners
.img-rounded {
  border-radius: $border-radius-large;
}

// Perfect circle
.img-circle {
  border-radius: 50%; // set radius in percents
}

// Fieldset
fieldset {
  border-color: $gray-light;
}

// Opacity values
.opacity-75 { @include opacity(.75); }
.opacity-50 { @include opacity(.5); }
.opacity-25 { @include opacity(.25); }

// Featured Image
.featured-image {
  width: 100%;
  height: $featured-image-height-desktop;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media #{$tablet-land} {
    height: $featured-image-height-tablet;
  }
  @media #{$tablet-port} {
    height: $featured-image-height-mobile;
  }
}
// Featured Background
.featured-background {
  width: 100%;
  height: $featured-image-height-desktop;
  background-color: $gray-lighter;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  > img.avatar {
    margin: 0 auto;
    @extend .img-circle;
    border: 5px solid $body-bg;
    @media #{$tablet-port} {
      width: 220px;
    }
    @media #{$mobile-port} {
      width: 120px;
    }
  }
  @media #{$tablet-land} {
    height: $featured-image-height-tablet;
  }
  @media #{$tablet-port} {
    height: $featured-image-height-mobile;
  }
}
.display-inline {
  display: inline-block !important;
  vertical-align: middle;
  img {
    display: block;
    width: 100%;
  }
}

// Horizontal rules
hr {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border;
}

.block { display: block; }
.inline {
  display: inline-block;
  img {
    display: block;
    width: 100%;
  }
}
.relative { position: relative !important; }
.absolute { position: absolute !important; }

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate
.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

// Text Selection Color
::selection { color: $text-color; background: $brand-default; }
::-moz-selection { color: $text-color; background: $brand-default; }

kbd {
  background-color: $gray-dark;
  border-radius: 0;
}


// Vertical alignment
.va-middle { vertical-align: middle; }
.va-top { vertical-align: top; }
.va-bottom { vertical-align: bottom; }

// Vertical Space classes
.space-top-half {
  margin-top: floor($line-height-computed / 2) !important;
}
.space-top {
  margin-top: $line-height-computed !important;
}
.space-top-2x {
  margin-top: floor($line-height-computed * 2) !important;
}
.space-top-3x {
  margin-top: floor($line-height-computed * 3) !important;
}
.space-bottom-half {
  margin-bottom: floor($line-height-computed / 2) !important;
}
.space-bottom {
  margin-bottom: $line-height-computed !important;
}
.space-bottom-2x {
  margin-bottom: floor($line-height-computed * 2) !important;
}
.space-bottom-3x {
  margin-bottom: floor($line-height-computed * 3) !important;
}
.padding-top-half {
  padding-top: floor($line-height-computed / 2) !important;
}
.padding-top {
  padding-top: $line-height-computed !important;
}
.padding-top-2x {
  padding-top: floor($line-height-computed * 2) !important;
}
.padding-top-3x {
  padding-top: floor($line-height-computed * 3) !important;
}
.padding-bottom-half {
  padding-bottom: floor($line-height-computed / 2) !important;
}
.padding-bottom {
  padding-bottom: $line-height-computed !important;
}
.padding-bottom-2x {
  padding-bottom: floor($line-height-computed * 2) !important;
}
.padding-bottom-3x {
  padding-bottom: floor($line-height-computed * 3) !important;
}
@media #{$tablet-port} {
  .space-top {
    margin-top: floor($line-height-computed / 1.5) !important;
  }
  .space-top-2x {
    margin-top: floor($line-height-computed * 1.5) !important;
  }
  .space-top-3x {
    margin-top: floor($line-height-computed * 2) !important;
  }
  .space-bottom {
    margin-bottom: floor($line-height-computed / 1.5) !important;
  }
  .space-bottom-2x {
    margin-bottom: floor($line-height-computed * 1.5) !important;
  }
  .space-bottom-3x {
    margin-bottom: floor($line-height-computed * 2) !important;
  }
  .padding-top {
    padding-top: floor($line-height-computed / 1.5) !important;
  }
  .padding-top-2x {
    padding-top: floor($line-height-computed * 1.5) !important;
  }
  .padding-top-3x {
    padding-top: floor($line-height-computed * 2) !important;
  }
  .padding-bottom {
    padding-bottom: floor($line-height-computed / 1.5) !important;
  }
  .padding-bottom-2x {
    padding-bottom: floor($line-height-computed * 1.5) !important;
  }
  .padding-bottom-3x {
    padding-bottom: floor($line-height-computed * 2) !important;
  }
}
.space-top-none { margin-top: 0 !important; }
.space-bottom-none { margin-bottom: 0 !important; }
.space-left-none { margin-left: 0 !important; }
.space-right-none { margin-right: 0 !important; }
.padding-top-none { padding-top: 0 !important; }
.padding-bottom-none { padding-bottom: 0 !important; }
.padding-left-none { padding-left: 0 !important; }
.padding-right-none { padding-right: 0 !important; }

.page-edit .edit-link {
  display: inline-block;
  margin-top: $line-height-computed;
}
.text-center { text-align: center; }
.text-right { text-align: right; }

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tablet-center {
  @media #{$tablet-land} {
    text-align: center !important;
  }
}
.mobile-center {
  @media #{$tablet-port} {
    text-align: center !important;
  }
}


/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

// Container Fluid
.container-fluid {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

// WordPress core classes
.wp-caption {
  background: $body-bg;
  border: 1px solid $gray-lighter;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption p.wp-caption-text, .gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bypostauthor { 
  background-color: $gray-light;
} 
.sticky{
  position: fixed;
}
.gallery { 
  overflow: hidden;
  position: relative;
  margin: 0 auto 18px; 
}
.gallery .gallery-item {
  float: left;
  margin-top: 0;
  text-align: center;
  width: 33%;
}
.gallery-columns-2 .gallery-item { width: 50%; }
.gallery-columns-4 .gallery-item { width: 25%; }
.gallery img {
  box-shadow: 0px 0px 4px #999;
  border: 1px solid white;
  padding: 8px;
  margin: 0 auto;
  background: #f2f2f2;
}
.gallery img:hover {  background: white; }
.gallery-columns-2 .attachment-medium {
  max-width: 92%;
  height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
  max-width: 84%;
  height: auto;
}
.gallery .gallery-caption {
  color: #888;
  font-size: 12px;
  margin: 0 0 12px;
}
.gallery dl, .gallery dt { margin: 0; }
.gallery br+br { display: none; }