/**/
/* Shop Styles - Hypermarket Theme*/
/* --------------------------------------------------*/

/* Shop Item*/
.shop-item {
  width: 100%;
  @include margin(null null floor($line-height-computed * 1.5) null);
  .shop-thumbnail {
    background-color: $shop-item-thumb-bg;
    overflow: hidden;
    @include position(relative, null null null null);
    .woocommerce-LoopProduct-link {
      display: block;
      z-index: 1;
      @include square(100%);
      @include position(absolute, 0 null null 0);
    }
    > img {
      display: block;
      width: auto;
      @include margin(auto);
      @include opacity(1);
      @include backface-visibility(hidden);
      @include transition(opacity .35s);
    }
  }
  .shop-item-details {
    display: table;
    width: 100%;
    @include padding($line-height-computed null null null);
    .shop-item-title,
    .shop-item-price {
      display: table-cell;
      vertical-align: top;
      ins {
        text-decoration: none;
      }
    }
    .shop-item-title {
      width: 50%;
      font-size: $font-size-base;
      font-weight: normal;
      > a {
        color: $shop-item-title-color;
        text-decoration: none;
      }
    }
    .shop-item-price {
      width: 50%;
      font-size: $font-size-base;
      text-align: right;
      .old-price {
        font-size: $font-size-small;
        color: $gray;
        text-decoration: line-through;
      }
      del {
        font-size: $font-size-small;
        color: $gray;
        text-decoration: line-through;
      }
    }
  }
  .shop-item-tools {
    z-index: 2;
    text-align: right;
    visibility: hidden;
    @include opacity(0);
    @include position(absolute, null 22px 22px null);
    @include transition(opacity .35s, visibility .35s);
    .add-to-whishlist {
      display: inline-block;
      vertical-align: middle;
      width: $btn-sm-height;
      height: $btn-sm-height;
      color: $shop-item-wishlist-color;
      text-align: center;
      line-height: $btn-sm-height;
      text-decoration: none;
      background-color: $shop-item-wishlist-bg;
      border-radius: $border-radius-small;
      &:hover {
        color: $shop-item-wishlist-hover-color;
      }
    }
    .add-to-cart {
      @include margin(0 null null 7px);
    }
    .added_to_cart {
      display: none;
    }
  }
  &:hover {
    .shop-thumbnail > img { @include opacity(.5); }
    .shop-item-tools {
      visibility: visible;
      @include opacity(1);
    }
  }
}
.touch .shop-item .shop-item-tools {
  visibility: visible;
  @include opacity(1);
}

/* Shop Label*/
.shop-label {
  z-index: 1;
  display: block;
  height: $shop-label-height;
  line-height: $shop-label-height;
  font-size: $shop-label-font-size;
  background-color: $shop-label-bg;
  border-radius: ($shop-label-height / 2);
  @include position(absolute, 20px null null 20px);
  @include padding(0 14px);
}

/* Add to Cart Button*/
.add-to-cart {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 114px;
  height: $btn-sm-height;
  line-height: $btn-sm-height;
  font-size: $btn-sm-font-size;
  font-weight: $btn-sm-font-weight;
  text-transform: $btn-text-transform;
  text-align: center;
  color: $add-to-cart-color;
  background-color: $add-to-cart-bg;
  border-radius: $border-radius-small;
  overflow: hidden;
  @include transition(background-color .3s);
  &:hover {
    color: $add-to-cart-color;
    background-color: darken($add-to-cart-bg, 9%);
  }
  &:focus, &:active { color: $add-to-cart-color; }
  em {
    font-style: normal;
    @include square(100%);
    @include position(absolute, 0 null null 0);
    @include transform(translateZ(0));
    @include backface-visibility(hidden);
    @include transition(transform 0.3s);
  }
  svg {
    /* this is the check icon */
    width: 100%;
    @include position(absolute, 50% null null 50%);
    @include transform(translateX(50%) translateY(-50%));
    @include transition(transform 0.3s);
  }
  &.is-added {
    em {
      color: transparent;
      @include transform(translateX(-100%));
      @include transition(transform 0s);
    }
    svg {
      @include transform(translateX(-50%) translateY(-50%));
      @include transition(transform 0s);
    }
  }
}
.single_add_to_cart_button {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-primary; 
}

/* Item Rating*/
.star-rating {
  display: block;
  position: absolute;
  overflow: initial;
  z-index: 2;
  top: 22px;
  right: 20px;
  font-size: .875em;
  line-height: 1;
  width: 5.3em;
  height: 1.718em;
  color: $brand-warning;
  font-family: 'Material Icons';
  @include clearfix;
  &:before {
    float: left;
    @include position(absolute, 0 null null 0);
    content: "\e83a\e83a\e83a\e83a\e83a";
  }
  & span {
    overflow: hidden;
    height: 100%;
    float: left;
    @include padding(1.7em null null null);
    @include position(absolute, 0 null null 0);
    > strong {
      @extend .sr-only;
    }
    &:before {
      color: $brand-warning;
      content: "\e838\e838\e838\e838\e838";
      @include position(absolute, 0 null null 0);
    }
  }
}


/* Shop Bar*/
.shop-bar {
  display: table;
  width: 100%;
  padding-bottom: floor($line-height-computed * 1.5);
  > .column {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    &:first-child { padding-right: 20px; }
  }
  .search-box { display: inline-block; }
  @media #{$mobile-land} {
    > .column {
      display: block;
      width: 100%;
      &:first-child {
        @include padding(null 0 15px null);
      }
    }
  }
}

/* Single Product Gallery*/
.product-gallery {
  position: relative;
  width: 100%;
  max-width: $product-gallery-preview-max-width;
  @include margin(auto);

  /* Preview*/
  .product-gallery-preview {
    display: block;
    position: relative;
    width: 100%;
    list-style: none;
    @include padding(0);
    > li {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      @include opacity(0);
      @include transition(opacity .7s);
      > img {
        display: block;
        width: 100%;
      }
      &.current {
        position: relative;
        @include opacity(1);
      }
    }
  }

  /* Thumblist*/
  .product-gallery-thumblist {
    position: absolute;
    top: 48%;
    right: -($product-gallery-thumb-width + 15);
    width: $product-gallery-thumb-width;
    list-style: none;
    @include padding(0);
    @include transform(translateY(-50%));
    > li {
      display: block;
      padding: floor($line-height-computed / 1.5) 0;
      > a {
        display: block;
        text-decoration: none;
        @include opacity(.35);
        @include transition(opacity .35s);
      }
      &.active > a { @include opacity(1); }
    }
  }
}
@media screen and (max-width: 1100px) {
  .product-gallery .product-gallery-thumblist {
    width: 100%;
    text-align: center;
    @include margin(null null 0 null);
    @include position(relative, auto auto null null);
    @include padding($line-height-computed null null null);
    @include transform(none);
    > li {
      display: inline-block;
      padding: 0 floor($line-height-computed / 1.5);
      padding-bottom: floor($line-height-computed / 2);
      > a { width: $product-gallery-thumb-width; }
    }
  }
}

/* Single Product Info*/
.product-info {
  max-width: $product-gallery-preview-max-width;
  @include margin(null auto);
  .product_title {
    @extend .h2;
  }
  .woocommerce-review-link {
    display: none;
  }
  .price {
    @extend .h2;
    del {
      @include opacity(.5);
    }
    ins {
      text-decoration: none;
    }
  }
  div[itemprop="description"]{
    p {
      @extend .text-sm;
      @extend .text-gray; 
    }
  }
}

/* Product Meta*/
.product_meta {
  font-size: $product-meta-font-size;
  .sku_wrapper,
  .posted_in,
  .tagged_as,
  .woocommerce-product-rating {
    display: inline-block;
    @include margin(0 16px 16px 0);
    span, a {
      color: $product-meta-color;
      text-decoration: none;
    }
    strong {
      color: $gray-dark;
      font-weight: normal;
    }
    a:hover,
    a:focus {
      color: $product-meta-hover-color;
      text-decoration: none;
    }
  }
  .woocommerce-product-rating {
    margin-right: 0;
    .star-rating { 
      line-height: 1.7;
      font-size: 1em;
      @include position(relative, auto auto null null);
      & span {
        height: 100%;
      }
    } 
  }
}
.text-center {
  .product-meta,
  &.product-meta {
    .product-sku,
    .product-category,
    .product-rating {
      @include margin(null 8px);
    }
  }
}
.text-right {
  .product-meta,
  &.product-meta {
    .product-sku,
    .product-category,
    .product-rating {
      @include margin(null 0 null 16px);
    }
  }
}

/* Product Tools*/
.product-tools {
  @include margin(floor($line-height-computed / 4) null floor($line-height-computed / 2) null);
  .variations, .count-input, .single_add_to_cart_button, .apple-pay-button-wrapper {
    display: inline-block;
    @include margin(12px 12px 12px 0);
  }
  table.variations {
    width: auto;
    vertical-align: middle;
    td {
      border: none;
    }
    .label {
      display: none;
    }
    .form-select {
      &:before {
        right: 10px;
      }
      select {
        @extend .form-control;
        @extend .form-control-sm;
        @extend .color-select;
        @include margin(0);
        @include padding(null 33px null null);
      }
    }
    .reset_variations {
      display: none !important;
    }
  }
}

.text-center {
  .product-tools > *,
  &.product-tools > * {
    @include margin(6px);
  }
}
.text-right {
  .product-tools > *,
  &.product-tools > * {
    @include margin(null 0 null 12px);
  }
}
/* Reviews*/
.woocommerce-Reviews {
  ol.commentlist {
    @include margin(0);
    @include padding(0);
  }
  .woocommerce-Reviews-title {
    @extend .sr-only
  }
}
.review-respond .tile form h3 {
  @include margin(null null $line-height-computed null);
}
.review {
  display: table;
  width: 100%;
  border-top: 1px solid $hr-border;
  @include padding(floor($line-height-computed * 1.4) 0);
  &:first-child { @extend .padding-top-half; border-top: none; }
  .review-author-ava {
    display: table-cell;
    vertical-align: top;
  }
  .review-body {
    display: block;
    vertical-align: top;
  }
  .review-author-ava {
    width: $review-author-ava-size;
    @include padding(0 18px 18px 0);
    > img { min-width: 80px; border-radius: 50%; }
  }
  p {
    font-size: $review-body-font-size;
    margin-bottom: 0;
  }
  .review-meta {
    display: table;
    width: 100%;
    @include margin(null null 12px null);
    .column {
      display: table-cell;
      vertical-align: top;
      width: 50%;
      p.meta {
        > strong {
          font-size: $font-size-small;
          color: $quote-author-font-color;
          font-weight: normal;
          font-style: normal;
          @include margin(floor($line-height-computed / 2.5) null null null);
          &:before {
            display: inline-block;
            vertical-align: middle;
            content: "";
            background-color: $quote-author-font-color;
            @include size(20px, 1px);
            @include margin(null 9px null null);
          }
        }
      }
      &:last-child { text-align: right; }
      .star-rating {
        top: 0;
        right: 0;
        float: right;
        position: relative;
      }
    }
    .review-title {
      font-size: $font-size-base;
      font-weight: 500;
      margin-bottom: 3px;
    }
    .product-rating {
      display: inline-block;
    }
  }
  @media screen and (max-width: 630px) {
    .review-meta {
      .column {
        display: block;
        width: 100%;
        &:last-child { text-align: left; }
      }
      .star-rating {
        float: left !important;
        @include margin(15px 0);
      }
      .review-title { margin-bottom: 8px; }
    }
  }
  @media screen and (max-width: 500px) {
    .review-author-ava,
    .review-body { display: block; }
    .review-body { width: 100%; }
  }
}

/* Review Form*/
#commentform {
  .comment-form-rating {
    p.stars {
      display: none !important;
    }
    select[name="rating"] {
      display: initial !important;
    }
  }
}

/* Shopping Cart*/
.shopping-cart {
  width: 100%;
  .item {
    position: relative;
    display: table;
    width: 100%;
    border-bottom: 2px solid $hr-border;
    @include margin(null null 30px null);
    @include padding(0 45px 30px 0);
    .item-thumb,
    .item-details {
      display: table-cell;
      vertical-align: top;
    }
    .item-thumb {
      width: $shopping-cart-thumb-width + 25;
      padding-right: 25px;
      > img { width: 100%; }
    }
    .item-title {
      font-size: $shopping-cart-item-title-size;
      font-weight: normal;
      @include margin(null null floor($line-height-computed / 2) null);
      > a {
        color: $nav-link-color;
        text-decoration: none;
        &:hover, &:focus {
          color: $nav-link-hover-color;
          text-decoration: none;
        }
      }
    }
    .item-price {
      font-size: $font-size-lead;
      color: $gray;
      font-weight: 500;
    }
    .item-remove {
      display: block;
      font-size: $shopping-cart-icon-size;
      color: $nav-link-color;
      text-align: center;
      text-decoration: none;
      border: 2px solid $hr-border;
      border-radius: $border-radius-small;
      @include square($btn-sm-height);
      @include position(absolute, 0 null 0 null);
      > i {
        line-height: $btn-sm-height - 3;
      }
      &:hover { color: $brand-danger; }
    }
  }
  .btn { margin-top: 0; }
  @media #{$mobile-land} {
    .item {
      @include padding(null null 20px null);
      .item-thumb,
      .item-details { display: block; }
      .item-thumb { @include margin(null null 20px null); }
    }
  }
}
h1.page-title {
  @extend .space-top-half;
}
/* WooCommerce Message*/
.woocommerce-message {
  list-style: none;
  margin-bottom: 14px;
  @extend .text-success;
}
.woocommerce-info {
  list-style: none;
  margin-bottom: 14px;
  @extend .text-info;
}
.woocommerce-error {
  padding-left: 0;
  margin-bottom: 14px;
  line-height: inherit;
  list-style: none;
  @extend .text-danger;
}
.single-product {
  .woocommerce-message, .woocommerce-info, .woocommerce-error {
    color: inherit !important;
    @extend .text-center;
    @extend .space-bottom;
  }
  .product-tools {
    .variations tbody {
      & tr > td { padding-top: 0; }
      & tr:first-of-type > td { padding-top: 15px; }
      & tr:only-child > td { padding-top: 15px; }
    }
  }
  .bs3-grid-builder-container { padding: 0; max-width: 100%; }
  .apple-pay-button-wrapper {
    height: 36px !important;
    display: inline-block !important;
    margin: 12px !important;
    & .apple-pay-button {
        height: 36px !important;
        float: none !important;
        max-width: inherit !important;
        margin-right: 0 !important;
    }
    & + button[name="add-to-cart"] {
      margin: 0 !important;
    }
  }
  table.shop_attributes {
    @include margin(null null 0 null);
    & tbody > tr:last-of-type > td { border-bottom: none; }
    & tbody > tr:last-of-type > th {
      @include padding(null null null 0);
      border-bottom: none;
    }
  }
  .fw-section .star-rating { height: auto; }
}
/* Coupon Code*/
.cart-coupon {
  & .coupon-input {
    @media #{$tablet-port-min} {
      padding-left: 0;
    }
    @media #{$tablet-port} {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  & .coupon-btn {
    @media #{$tablet-port-min} {
      padding-right: 0;
    }
    @media #{$tablet-port} {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  & .woocommerce-message, & .woocommerce-info, & .woocommerce-error {
    padding: 0 !important;
  }
}
.checkout_coupon {
  overflow: hidden;
  zoom: inherit !important;
  display: block !important;
  position: relative !important;
  height: 100% !important;
}
/* Cart totals*/
.cart-collaterals {
  table {
    th, td {
      font-weight: $font-weight-h4;
      @include padding(null 0);
    }
    td {
      @extend .text-right;
      strong {
        font-weight: $font-weight-h4;
      }
    }
  }
}
/* Cart - Checkout*/
.woocommerce-cart, .woocommerce-checkout {
  form.woocommerce-checkout {
    clear: both;
    overflow: hidden;
  }
  .woocommerce-message, .woocommerce-info, .woocommerce-error {
    @extend .text-left;
    @extend .space-bottom;
    @include padding(null $table-cell-padding);
  }
  .cart-empty, .return-to-shop {
    @include padding(null $table-cell-padding);
  }
  .cart-dropdown {
    display: none !important;
  }
  #calc_shipping_state_field {
    @extend .form-element;
  }
  #calc_shipping_state {
    @extend .form-control;
  }
  .form-row.create-account {
    @include padding(null $table-cell-padding);
  }
  label[for="rememberme"] {
    font-weight: $font-weight-h4;
    @include padding(null null null 2px);
  }
  div.create-account, form.login-form {
    > p:not(.form-row):first-of-type {
      font-style: italic;
      font-size: $font-size-small - 3;
      @include padding(null $table-cell-padding);
    }
  }
  #order_comments { resize: none; }
  #shipping_method {
    display: inline-block;
    list-style: none;
    @include padding(0);
    li { 
      text-align: left;
      display: -ms-grid;
      display: grid;
      grid-gap: 2px;
      -ms-grid-columns: 30px 1fr;
          grid-template-columns: 30px 1fr; 
    }
    input[type="radio"] {
      float: none;
      display: inherit;
      @include margin(0);
      + label {
        float: none;
        display: block;
        @include margin(0);
        @include padding(3px null null null);
      }
    }
  }
  .item.cart_item .variation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    @include margin(null null 0 null);
    & dt {
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      @include margin(null null 0 null);
    }
    & dd { 
      -webkit-box-flex: 1; 
          -ms-flex-positive: 1; 
              flex-grow: 1;
      -ms-flex-preferred-size: 90%;
          flex-basis: 90%;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      clear: right; 
      @include padding(null null null 5px);
      & p { @include margin(0); }
    }
  }
}
a.woocommerce-remove-coupon {
  color: $gray-dark;
  &:hover { color: $brand-danger; }
}
.woocommerce-additional-fields {
  & > h3:first-of-type {
    @extend .sr-only;
  }
}
.woocommerce-checkout-review-order-table {
  thead {
    @extend .sr-only;
  }
  tbody {
    td {
      @extend .text-left;
      @include padding(null 0);
      &:last-of-type {
        @extend .text-right;
      }
    }
  }
  tfoot {
    tr {
      th {
        font-weight: $font-weight-h4;
        @extend .text-left;
        @include padding(null 0);
      }
      td {
        @extend .text-right;
        @include padding(null 0);
        strong {
          font-weight: $font-weight-h4;
        }
      }
    }
  }
  dl.variation {
    & dt {
      float: left;
      display: inline-block;
      font-weight: $text-weight;
      padding-right: 5px;
    }
    & dd { clear: right; }
  }
}
.order_details, .customer_details {
  @extend .table-striped;
  thead {
    th {
      font-weight: $font-weight-h4;
      @include padding(null 3px);
      &:last-of-type {
        @extend .text-right;
      }
    }
  }
  tbody {
    th {
      font-weight: $font-weight-h4;
      @include padding(null 3px);
      &:last-of-type {
        @extend .text-left;
      }
    }
    td {
      @extend .text-left;
      @include padding(null 3px);
      &:last-of-type {
        @extend .text-right;
      }
    }
  }
  tfoot {
    tr {
      th {
        font-weight: $font-weight-h4;
        @extend .text-left;
        @include padding(null 3px);
      }
      td {
        @extend .text-right;
        @include padding(null 3px);
        strong {
          font-weight: $font-weight-h4;
        }
      }
    }
  }
}
/* Billing and Shipping fields*/
.woocommerce-billing-fields {
  @extend .padding-top;
  overflow: hidden;
  @include position(relative, null null null null);
  > h3:first-of-type {
    @extend .sr-only;
  }
}
.woocommerce-shipping-fields {
  overflow: hidden;
  @include position(relative, null null null null);
  #ship-to-different-address {
    @include padding(null $table-cell-padding);
    @include margin(null null floor(($font-size-base * 1.875)) null);
  }
  label[for="ship-to-different-address-checkbox"] {
    display: inline-block;
  }
}
#wc-stripe-cc-form {
  border: none;
  @include padding(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  & > .form-row:first-of-type {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    & input { width: 100% !important; margin: 0 !important; }
  }
  & > .form-row.form-row-first {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-right: 4px;
    & input { width: 100% !important; margin: 0 !important; }
  }
  & > .form-row.form-row-last {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: 4px;
    & input { width: 100% !important; margin: 0 !important; }
  }
  label:not([for="wc-stripe-new-payment-method"]) {
    @extend .sr-only;
  }
  & > .woocommerce-error { @include padding(0); }
}
#billing_first_name,
#shipping_first_name,
#billing_last_name,
#shipping_last_name,
#billing_email,
#shipping_email,
#billing_phone,
#shipping_phone,
#billing_address_1,
#shipping_address_1,
#billing_address_2,
#shipping_address_2,
#billing_company,
#shipping_company,
input#billing_state,
input#shipping_state,
#billing_postcode,
#shipping_postcode,
#billing_city,
#shipping_city,
#order_comments,
#account_username,
#account_password,
#account_password-2,
.select2-search__field,
.product-search-field,
#stripe-card-number,
#stripe-card-expiry,
#stripe-card-cvc {
  @extend .form-control;
}
#billing_country_field, #billing_state_field, #shipping_country_field, #shipping_state_field, #calc_shipping_country_field, #calc_shipping_state_field, .woocommerce-widget-layered-nav {
  .select2-container {
    .select2-selection {
      height: auto;
      outline: none !important;
      text-align: left;
      font-size: $font-size-small;
      color: $gray-dark;
      border: $widget-divider;
      border-radius: $border-radius-base;
      background-color: $input-bg;
      @include padding(0 16px);
      .select2-selection__rendered {
        line-height: $line-height-base + 1.6;
        @include padding(0);
      }
      .select2-selection__arrow {
        @include position(absolute, 10px 10px null null);
      }
    }
    &.select2-container--open {
        & .select2-selection {
          border-bottom: none;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
    }
  }
}
.shipping-calculator-form #calc_shipping_country_field:before {
  content: none;
}
.select2-container--open .select2-dropdown--below {
  border: $widget-divider;
  border-top: none;
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-color:transparent; 
  background-color: $input-bg;
}
.select2-container--default {
  .select2-results__option--highlighted[aria-selected] {
    background-color: $brand-primary;
  }
  .select2-search__field {
    border: $widget-divider !important;
    border-radius: $border-radius-base;
    @include margin(0);
    @include padding(0 16px);
  }
}
.select2-results__option {
  @include padding(0 16px);
  outline: none !important;
}
.select2-container {
  .select2-choice {
    line-height: $line-height-base + 1.6;
    font-size: $font-size-small;
    color: $gray-dark;
    border: $widget-divider;
    border-radius: $border-radius-base;
    background-color: $input-bg;
    @include padding(0 16px);
  }
}
.select2-drop-active {
  border: $widget-divider;
  border-top-color:transparent; 
}
.woocommerce-invalid {
  @extend .error;
  &:before {
    right: 30px;
  }
}
.woocommerce-validated {
  @extend .valid;
  &:before {
    right: 30px;
  }
}
/* Create an account*/
.create-account {
  .input-radio, .input-checkbox {
    float: left;
    display: inline-block;
    @include margin(null 7px null null);
    + label {
      @include padding(6px null null null);
    }
    + span { display: table-cell; }
  }
}
/* Payment methods*/
#payment {
  .wc_payment_methods {
    list-style: none;
    @include padding(0);
    @include margin(0);
    .woocommerce-notice {
      font-size: $font-size-small;
      @include padding(0);
    }
  }
  .woocommerce-privacy-policy-text {
    font-size: $font-size-small;
  }
  .input-radio, .input-checkbox {
    float: left;
    display: inline-block;
    @include margin(null 7px null null);
    + label {
      @include padding(3px null null null);
    }
  }
  .input-checkbox { top: 0; }
  .payment_box, #stripe-payment-data {
    > p {
      font-style: italic;
      font-size: $font-size-small - 3;
      > label {
        font-style: normal;
      }
    }
  }
  img {
    float: right;
  }
  .place-order {
    > p {
      @extend .space-top;
      @extend .space-bottom;
    }
  }
  .wc-stripe-elements-field { 
    @extend .form-control; 
    @include padding(13px null null null);
    @include margin(null 10px null null);
  }
  ul.woocommerce-SavedPaymentMethods {
    list-style: none;
    @include padding(0);
    @include margin(0 0 30px);
  }
  .stripe-source-errors .wc-stripe-error { @include padding(0); }
  label[for="wc-stripe-new-payment-method"] { font-weight: normal !important; }
  input#payment_method_stripe { position: relative !important; }
  img.stripe-icon {
      @media #{$desktop-min} {
        max-width: 30px !important;
    }
    @media #{$tablet-land} {
        max-width: inherit;
    }
  }
}
#place_order {
  @extend .btn; 
  @extend .btn-primary; 
  @extend .btn-block; 
  @extend .space-top-none;
}
/* Thank you page*/
.hypermarket-woocommerce-running.woocommerce-order-received {
  .woocommerce {
    .woocommerce-thankyou-order-received {
      @extend .text-success;
    }
    .woocommerce-thankyou-order-details {
      list-style-type: square;
    }
  }
}
.addresses {
  > .col-1 {
    float: left;
    width: 48%;
    @media #{$tablet-port} {
      float: none; 
      width: 100%;
    }
  }
  > .col-2 {
    float: right;
    width: 48%;
    @media #{$tablet-port} {
      float: none; 
      width: 100%;
    }
  }
}
/* My Account*/
.account-orders-table, .woocommerce-MyAccount-downloads {
  @extend .table-striped;
  .woocommerce-orders-table__cell-order-actions {
    > a {
      @extend .btn;
      @extend .btn-sm;
      @extend .btn-primary;
      @extend .space-top-none;
      @extend .space-bottom-none;
    }
  }
}
.woocommerce-EditAccountForm.edit-account {
  .woocommerce-form-row {
    small {
      font-size: $font-size-xs;
      display: block;
      @include padding(15px 0 0 0);
    }
  }
}
.woocommerce-MyAccount-content {
  .woocommerce-PaymentMethods {
    @include padding(0);
    @include margin(0);
  }
}
.woocommerce-account {
  .register .woocommerce-privacy-policy-text {
    font-size: $font-size-xs;
  }
}
/* Search not found*/
.woocommerce.search-no-results {
  & .sidebar-toggle {display: none;}
}
/* WooCommerce global notice*/
p.demo_store {
  z-index: 10;
  color: $body-bg;
  text-align: center;
  font-size: $font-size-small;
  background-color: $brand-primary;
  @include margin(0);
  @include size(100%, auto);
  @include position(fixed, null 0 0 0);
  @include box-shadow(0 1px 1em rgba(0, 0, 0, .2));
  @include padding(floor(($font-size-base * 0.75)) null);
}
/* Reset password form*/
.reset-password-notice {
  font-style: italic;
  font-size: $font-size-small - 3;
  @include padding(null $table-cell-padding);
}