//
// Social Buttons - Hypermarket Theme
// --------------------------------------------------
/* Base class */
.social-bar {
	a {
		display: inline-block;
		vertical-align: middle;
		font-size: $social-icon-size;
		text-decoration: none;
		@include margin(null 9px 5px 9px);
	}
	&.text-center {
		a {
			@include margin(null 9px);
		}
	}
	&.text-right {
		a {
			@include margin(null 0 null 18px);
		}
	}
}
/* Facebook */
.hypermarket-facebook, .hypermarket-facebook-solid {
	color: $text-color;
	@include transition(all .3s ease 0s);
	&:hover, &:focus {
		color: #3b5998 !important;
	}
}
/* Google+ */
.hypermarket-google-plus, .hypermarket-google-plus-solid {
	color: $text-color;
	@include transition(all .3s ease 0s);
	&:hover, &:focus {
		color: #dd4b39 !important;
	}
}
/* Instagram */
.hypermarket-instagram {
	color: $text-color;
	@include transition(all .3s ease 0s);
	&:hover, &:focus {
		color: #3f729b !important;
	}
}
/* LinkedIn */
.hypermarket-linkedin, .hypermarket-linkedin-solid {
	color: $text-color;
	@include transition(all .3s ease 0s);
	&:hover, &:focus {
		color: #0976b4 !important;
	}
}
/* Pinterest */
.hypermarket-pinterest {
	color: $text-color;
	@include transition(all .3s ease 0s);
	&:hover, &:focus {
		color: #cc2127 !important;
	}
}
/* Twitter */
.hypermarket-twitter, .hypermarket-twitter-solid {
	color: $text-color;
	@include transition(all .3s ease 0s);
	&:hover, &:focus {
		color: #55acee !important;
	}
}
/* Vimeo */
.hypermarket-vimeo {
	color: $text-color;
	@include transition(all .3s ease 0s);
	&:hover, &:focus {
		color: #1ab7ea !important;
	}
}
/* WordPress */
.hypermarket-wordpress {
	color: $text-color;
	@include transition(all .3s ease 0s);
	&:hover, &:focus {
		color: #21759b !important;
	}
}
/* YouTube */
.hypermarket-youtube {
	color: $text-color;
	@include transition(all .3s ease 0s);
	&:hover, &:focus {
		color: #e52d27 !important;
	}
}
/* StumbleUpon */
.hypermarket-stumbleupon-solid {
	color: $text-color;
	@include transition(all .3s ease 0s);
	&:hover, &:focus {
		color: #eb4924 !important;
	}
}