//
// Widgets - Hypermarket Theme
// --------------------------------------------------

// Sidebar
.sidebar {
  width: 100%;
  max-width: $sidebar-max-width;
}

// Widget Title
.widget-title {
  font-size: $font-size-small;
  font-weight: normal;
  text-transform: uppercase;
  @include margin(null null $line-height-computed null);
  small {
    display: block;
    color: $gray;
    font-size: $font-size-xs;
    text-transform: none;
    @include margin(floor($line-height-computed / 1.2) null null null);
  }
}

// Base Class
.widget {
  @include padding(floor($line-height-computed * 1.2) 0);
  border-bottom: $widget-divider;
  &:first-child { @include padding(floor($line-height-computed / 1.6) null null null); }
  &:last-child { border-bottom: 0; }
  select {
    @extend .form-control;
  }
  > ul {
    list-style: none;
    @include margin(0);
    @include padding(0);
  }
  ul {
    font-size: $widget-link-font-size;
    > li {
      @include margin(null null 5px null);
      &:last-child { 
        @include margin(null null 0 null);
        @include padding(null null 0 null);
      }
      > ins {
          text-decoration: none;
      }
      .star-rating {
          line-height: inherit;
          @include position(relative, auto auto null null);
      }
      > a {
        color: $widget-link-color;
        text-decoration: none;
        &:hover {
          color: $widget-link-hover-color;
        }
        // Icon
        > i {
          font-size: floor($widget-link-font-size * 1.1);
          @include margin(null 2px null null);
        }

        // Color Dot
        .color {
          display: inline-block;
          vertical-align: middle;
          width: $widget-color-label-size;
          height: $widget-color-label-size;
          border-radius: 50%;
          @include margin(-2px 3px null null);
        }
      }
      &.active > a { color: $widget-link-hover-color; }
    }
  }
}

// Widget Tags
.widget .tagcloud {
  a {
    display: inline-block;
    height: $widget-tags-height;
    color: $widget-tags-color;
    font-size: $widget-tags-font-size !important;
    line-height: $widget-tags-height - 4;
    text-decoration: none;
    border: 2px solid $widget-tags-border-color;
    border-radius: floor($widget-tags-height / 2);
    @include padding(0 12px);
    @include margin(0 2px 8px 0);
    @include transition(all .3s);
    &:hover, &.active {
      color: $widget-tags-hover-color;
      border-color: $widget-tags-hover-border-color;
    }
  }
}

// Widget Calendar
.widget_calendar {
  table {
    @include margin(0);
    th, td { @include padding(10px 0); }
    td#today { font-weight: $text-weight-bold; }
      tfoot{
      td { border:none; }
    }
  }
}

.woocommerce-widget-layered-nav-dropdown {
  .woocommerce-widget-layered-nav-dropdown__submit {
      @extend .btn;
      @extend .btn-ghost;
      @extend .btn-sm;
      @extend .btn-default;
    }
    .select2-container {
      width: 100%;
    }
    .select2-selection.select2-selection--multiple {
      border: none !important;
      @include padding(0);
    }
    li.select2-search.select2-search--inline {
      width: 100%;
      @include margin(0);
    }
    input.select2-search__field {
      width: 100% !important;
      padding-left: 16px !important;
    }
}

// Price Range Slider
.widget_price_filter {
    & .price_slider {
      @include margin(1.5em auto);
    }
    .price_slider_amount {
      text-align: right;
      line-height: 2.4em;
      & .button {
        float: left;
        @extend .btn;
        @extend .btn-ghost;
        @extend .btn-sm;
        @extend .btn-default;
      }
    }
    .price_label {
      display: inline-block;
      font-size: $font-size-small;
      @include padding(10px null null null);
    }
    .ui-slider {
      text-align: left;
      @include position(relative, null null null null);
    }
    .ui-slider .ui-slider-handle {
      z-index: 2;
      @include opacity(1);
      outline: none;
      border: 2px solid $body-bg;
      border-radius: 50%;
      background: $gray-dark;
      cursor: default;
      @include square(16px);
      @include position(absolute, -6px null null -8px);
      &:last-child {
        margin-left: -1em;
      }
      &:hover,
      &.ui-state-active {
        @include box-shadow(0px 0px 0px 0px rgba(0,0,0,0.15));
      }
    }
    .ui-slider .ui-slider-range {
      z-index: 1;
      display: block;
      border: none;
      background: $gray-dark;
      @include transition(background .45s);
      @include border-top-radius(1em);
      @include border-bottom-radius(1em);
      @include position(absolute, null null null null);
    }
    .price_slider_wrapper .ui-widget-content {
      @include border-top-radius(1em);
      @include border-bottom-radius(1em);
      background: rgba(0,0,0,0.1);
    }
    .ui-slider-horizontal {
      height: 0.3em;
    }
    .ui-slider-horizontal .ui-slider-range {
      top: 0;
      height: 70%;
    }
    .ui-slider-horizontal .ui-slider-range-min {
      left: -1px;
    }
    .ui-slider-horizontal .ui-slider-range-max {
      right: -1px;
    }
 }
.sidebar-toggle,
.sidebar-close { display: none; }

// Sidebar on Mobile
@media #{$tablet-port-with-gap} {
  .sidebar {
    height: 100%;
    z-index: $navbar-zindex + 10;
    background-color: $sidebar-bg;
    overflow-y: auto;
    -ms-overflow-style: none;
    @include padding(30px $line-height-computed);
    @include position(fixed, 0 null null (-$sidebar-max-width));
    @include box-shadow(0px 0px 0px 0px rgba(0,0,0,0.15));
    @include transition(left .4s cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, box-shadow .3s .3s);
    &.open {
      left: 0;
      z-index: 999999;
      @include box-shadow(0px 0px 50px 3px rgba(0,0,0,0.15));
    }
    &.sidebar-right {
      left: auto;
      right: -($sidebar-max-width);
      @include transition(right .4s cubic-bezier(0.785, 0.135, 0.150, 0.860) .3s, box-shadow .3s .3s);
      &.open {
        left: auto;
        right: 0;
      }
    }
  }
  .sidebar-toggle {
    display: block;
    z-index: $navbar-zindex - 5;
    width: $sidebar-icon-box-size;
    height: $sidebar-icon-box-size;
    line-height: $sidebar-icon-box-size;
    color: $sidebar-icon-color;
    font-size: $sidebar-icon-size;
    text-align: center;
    background-color: $sidebar-bg;
    cursor: pointer;
    @include position(fixed, 50% null null 0);
    @include box-shadow(0px 3px 10px 0px rgba(0,0,0,0.15));
    @include transition(all .3s ease-in-out);
    &:hover { color: $sidebar-icon-hover-color; }
    &.sidebar-toggle-right {
      left: auto;
      right: 0;
    }
    &.sidebar-open {
      left: -($sidebar-icon-box-size);
      @include box-shadow(0px 0px 0px 0px rgba(0,0,0,0.15));
      &.sidebar-toggle-right {
        left: auto;
        right: -($sidebar-icon-box-size);
      }
    }
  }
  .sidebar-close {
    display: block;
    color: $sidebar-icon-color;
    font-size: $sidebar-icon-size;
    cursor: pointer;
    @include transition(color .3s);
    @include position(absolute, 8px 15px null null);
    &:hover { color: $sidebar-icon-hover-color; }
  }
  .sidebar::-webkit-scrollbar { display: none; }
}
// Payment icons
.hypermarket-payment-methods-icons-widget {
  ul {
    list-style: none;
    @include margin(0);
    @include padding(0);
    & li {
      display: inline-block;
      @include margin(null .75em null null);
      & i {
        color: $gray-dark;
        font-size: $font-size-h2 + 5;
        @include transition(all .3s ease 0s);
        &.hypermarket-paypal,
        &.hypermarket-master-card,
        &.hypermarket-ssl {
          font-size: $font-size-h2;
        }
        &:hover {
          color: $gray-darker;
        }
      }
    }
  }
}
// Social icons
.hypermarket-social-icons-widget {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    & li {
      display: inline-block;
      margin-right: .75em;
      & a {
        color: $gray-dark;
        @include transition(color .3s);
        i {
          font-size: $social-btn-size !important;
        }
      }
    }
  }
}
.widget_shopping_cart_content {
  .cart-item {
      position: relative;
      display: table;
      width: 100%;
      border-bottom: $cart-dropdown-border;
      @include margin(null null 15px null);
      @include padding(0 0 15px 0);
      dl.variation {
        display: none;
      }
      .item-thumb,
      .item-details {
        display: table-cell;
        vertical-align: top;
      }
      .item-thumb {
        width: $cart-dropdown-thumb-width + 15;
        @include padding(null 15px null null);
        > img { width: 100%; }
      }
      .item-title {
        font-size: $font-size-small;
        font-weight: normal;
        @include padding(null 20px null null);
        margin-bottom: floor($line-height-computed / 4);
        > a {
          color: $nav-link-color;
          text-decoration: none;
          &:hover, &:focus {
            color: $nav-link-hover-color;
            text-decoration: none;
          }
        }
      }
      .item-price {
        font-size: $font-size-small;
        color: $gray;
        @include margin(null null 0 null);
      }
      .close-btn {
        color: inherit;
        font-size: $font-size-base;
        @include position(absolute, -3px -4px null null);
        &:hover { color: $brand-danger; }
      }
    }
    .cart-subtotal {
      display: table;
      width: 100%;
      .column {
        display: table-cell;
        vertical-align: top;
        width: 50%;
      }
      > span {
        display: block;
        font-size: $font-size-small;
        color: $gray;
      }
      .amount {
        font-size: $font-size-small;
        color: $gray-dark;
        font-weight: 500;
        text-align: right;
        float: right;
      }
      & + .text-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 13px;
        position: relative;
        overflow: hidden;
        & .btn { @include margin(null 0); }
      }
    }
    .cart-buttons {
      display: table;
      width: 100%;
      .column {
        display: table-cell;
        vertical-align: top;
        width: 50%;
      }
    }
}

// Product list
.product_list_widget {
  list-style: none;
  @include margin(null null null 0);
  li {
    @include clearfix;
    @include padding(1em 0);
    img {
      max-width: 65px;
      float: right;
    }
    > a {
      display: block;
    }
    > .reviewer {
      &:before {
        content: "\e0b9";
        display: inline-block;
        font-family: "Material Icons";
        @include padding(null 5px null null);
      }
    }
  }
}
// Recent Comments
.widget_recent_comments {
  & li.recentcomments {
    &:before {
      content: "\e0b9";
      display: inline-block;
      font-family: "Material Icons";
      @include padding(null 5px null null);
    }
  }
}
// Layered nav rating
.wc-layered-nav-rating {
    > a {
      float: right;
      width: 100%;
      clear: both;
      overflow: hidden;
      text-align: right;
      > .star-rating {
        float: left;
      }
    }
}
.widget_rating_filter {
  > ul {
    overflow: hidden;
    @include position(relative, null null null null);
  }
}

// Mailchimp Widget
.subscribe-form, .widget_mc4wp_form_widget .mc4wp-form {
  max-width: 365px;
  @include margin(0 auto);
  .form-control {
    @include border-color($widget-tags-border-color);
    &:focus {
      @include border-color($input-focus-border-color !important);
    }
  }
  button[type='submit'] {
    display: block;
    font-size: floor($font-size-base * 1.25); // 20px;
    border: none;
    @include margin(-19px null null null);
    @include background(none);
    @include transition(color .3s);
    @include position(absolute, 50% 7px null null);
    &:focus { outline: none; }
    &:hover { color: $brand-primary; }
  }
}